@import"//fonts.googleapis.com/css?family=Open+Sans:300italic,300,600";

/*s2m css*/
.container_fluid{
    width: 80%;
    margin: 0 auto;
    margin-top:15px;
}
.col-md-12{
    margin-bottom:10px;
}
.col-md-6, .col-md-4, .col-md-3{
    padding-left:0px;
}

body{
    background: #e3e3e3;
}
p, div{
    font-family: "Open Sans";
}
a:link, a:visited, a:hover, a:active {
   color:inherit;
   text-decoration: none;
}

.block1{
    min-height:250px;
    background: url("https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{reservation.LocationImage}}") center center/cover no-repeat;
}
.block2{
    min-height:250px;
    background-color: #45b384;
    color: #ffffff;
    line-height:1;
}
.block3{
    background-color: #19242c;
    min-height:80px;
    color: #45b384;
    text-align:center;
    padding-top:8px;
}
.block4{
    background-color: #19242c;
    color: #ffffff;
    font-size: 14px;
    min-height:560px;
    padding:15px;
}
.block5{
    background: url("/static/css/images/play_video.png") center center/cover no-repeat;
    min-height:250px;
}
.block6{
    background: url("/static/css/images/tips.png") center center/cover no-repeat;
    min-height:190px;
}
.block7{
    background: #45b384 url("/static/css/images/share.png") center center/90% no-repeat;
    min-height:190px;
}
.block8{
    min-height:190px;
}
.block9{
    background: url("/static/css/images/s2m.png") center center/cover no-repeat;
    min-height:190px;
}
.block10, .block11, .block12{
    background: #ffffff;
    min-height:250px;
}
.blockslider{
}
.block13{
    background: #45b384 url("/static/css/images/route.png") center center/40% no-repeat;
    min-height:250px;
}
.block14{
    background: #ffffff url("/static/css/images/website.png") center center/40% no-repeat;
    min-height:250px;
}
.block15{
    
}

.info_header{
    border: solid 2px #45b384;
    margin-top:15px;
    padding:10px;
    font-size:20px;
}
.small_block{
    width:23.5%;
}



@media screen and (max-width: 768px) {
      h1 {
            font-size: 20px;
      }
      
      .widget{
           width:90%;
      }
      
      .s2m_block1{
      min-height: 650px;
      }
      
      .meetingspace_images {
    min-height: 100px;
    min-width:150px;
    max-width: 150px;
    }
    .s2m_block2{
    padding:2px;
    }
    .tdstyle{
        padding-left:5px;
    }
      
}

.white{
    color:white;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #45b384;
    margin: 1em 0;
    padding: 0; 
}







/* slider */

#jssor_1{
     width: 100%;
     height: 500px;
     overflow: hidden;
     visibility: hidden;
}
.image{
    width:100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.slides{
    width: 100%;
    height:500px;
}
.caption{
    position: absolute;
    top: 30px;
    left: 50px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border: solid 2px #45b384;
    font-size: 20px;
    color: #45b384;
    line-height: 30px;
    text-align: center;
}
.caption_setting{
    position: absolute;
    top: 100px;
    left: 50px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border: solid 2px #45b384;
    font-size: 20px;
    color: #45b384;
    line-height: 30px;
    text-align: center;
}
.caption_price{
    position: absolute;
    top: 170px;
    left: 50px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border: solid 2px #45b384;
    font-size: 20px;
    color: #45b384;
    line-height: 30px;
    text-align: center;
}
.caption_pax{
    position: absolute;
    top: 240px;
    left: 50px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border: solid 2px #45b384;
    font-size: 20px;
    color: #45b384;
    line-height: 30px;
    text-align: center;
}
.caption_text{
    padding:15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url('/static/css/images/slider/arrows.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
