Django==1.8.5
requests==2.8.0
wheel==0.38.1
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
whitenoise==2.0.4
Flask==0.10.1
Flask-Script==2.0.5
pdfcrowd==2.6
xhtml2pdf==0.0.6
django-widget-tweaks==1.4.1