<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Saleskit S2M</title>
    
             <!-- Jquery -->
    <script src="static/js/jquery.min.js"></script>
    
    <script type="text/javascript" id="UR_initiator"> (function () { var iid = 'uriid_'+(new Date().getTime())+'_'+Math.floor((Math.random()*100)+1); if (!document._fpu_) document.getElementById('UR_initiator').setAttribute('id', iid); var bsa = document.createElement('script'); bsa.type = 'text/javascript'; bsa.async = true; bsa.src = '//s2msaleskit.useresponse.com/sdk/supportCenter.js?initid='+iid+'&wid=6'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bsa); })(); </script>
    
       <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/reservation/bootstrap/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/reservation/bootstrap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="static/reservation/bootstrap/css/bootstrap-theme.min.css">
         
   
    <link rel="stylesheet" href="static/reservation/style.css">
    <script src="static/reservation/accordion.js"></script>

    
    
    
        <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>

   
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- script for hover tooltip -->
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
    
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <p><h1>S2M Saleskit!</h1></p>
            <p>This sales kit will help you track leads and improve results. </p>
            <p style="color: red;">NOTE! This application doesn't make changes to s2m reservations. </p>
      </div>
          <div class="col-md-4"><img style="width:100px;" src="http://magazine.seats2meet.com/styleguide/images/S2MLogo.png"></div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
       {% include "navbar.html" %}
            {% block header %}
    
            {% endblock %}
            
            {% block content %}
    
            {% endblock %}
      </div>

      <hr>

      <footer>
        <p></p>
      </footer>
    </div> <!-- /container -->



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

