{% extends "help_base.html" %}
{% load staticfiles %}

     
    {% block content %}     <!-- show page content --->
    
    <div class="row">
        <div class="section">
            <h2>Welcome</h2>
            <div class=""><p>At Seats2meet.com, you're used to multitask. But when those 15 tasks become to much, you don't want to forget your sales funnel. This application gives you a daily 'to-do', step by step, with clear instructions. So you can never forget an offer, a customer call, or anything else important!</p></div>
        </div>
        <div class="section">
            <h2>Step 1</h2>
            <img src="static/help/step1.gif">
            <div class=""><p>1. This is where you login, using your Seats2meet.com email and password.</p></div>
        </div>
        <div class="section">
            <h2>Step 2</h2>
            <img src="static/help/step2.gif">
            <div class=""><p>2. If you manage multiple locations, select the location you want to manage right now.</p></div>
            <div class=""><p>3. Any questions, errors or suggestions? Feel free to share your feedback.</p></div>
        </div>
        <div class="section">
            <h2>Step 3</h2>
            <img src="static/help/step3.gif">
            <div class=""><p>4. After every login, we'll update all your reservations. Just wait until the red section dissapears.</p></div>
        </div>
        <div class="section">
            <h2>Step 4</h2>
            <img src="static/help/step4.gif">
            <div class=""><p>5. The goal of the day: empty out this list! We'll show you how many reservations you'll need to process today.</br>
            The next action you can take is stated clearly at DO RIGHT NOW:</p></div>
            <div class=""><p>6. If you or your colleague has already updated this reservation, we'll tell you here. This way you can see who did what when:)</p></div>
            <div class=""><p>7. Just some basic info about the reservation. Need more? Just click the top link to open the S2M reservation.</p></div>
            <div class=""><p>8. The status of your sale. You need to reach the next step in this sales funnel. Click the step to save it.</p></div>
            <div class=""><p>8. Done with this reservation for today? Tell us when you want it to show up in this list again, and we'll take you to the next one.</p></div>
        </div>
        
    </div>
    
    
    
    {% endblock %}     <!-- end page content -->