{% extends "base.html" %}
{% load staticfiles %}

     
    {% block content %}     <!-- show page content --->
    
    {% if no_res == True %}
    <h4>There are no reservations to process, enjoy your day!</h4>
    {% else %}

     </div>
     <h4>This customer needs your attention. Last change was x days ago</h4>
          <form action="" method="POST">{% csrf_token %}
               <input type="hidden" name="res_id" value="{{reservation.res_id}}">
               <input type="hidden" name="res_untouched" value="no"> 
               <button type="submit" class="btn btn-primary">Next</button></p>
          </form>
     <div class="accordion">

          <div class="accordion-section">
               <a class="accordion-section-title active" href="#accordion-{{reservation.res_id}}">
                    #{{reservation.res_id}}
                    
               </a>
               <div id="accordion-{{reservation.res_id}}" class="accordion-section-content open" style="display: block">
                    <p class="pull-right">
                    <p><a href="https://www.seats2meet.com/locations/{{reservation.res_location_id}}/saleskit/manage/reservation/{{reservation.res_id}}" target="_blank">{{ reservation.res_id }}</a></p>
                    <p>Date: {{reservation.res_date|date:'Y-m-d'}} -</p> 
                    <p>Customer: {{reservation.res_user}} -</p>
                    <p>Company: {{reservation.res_company}} -</p>
                    <p>Seats: {{reservation.res_total_seats}}pax -</p>
                    <p>S2M status: {{reservation.get_res_status_display}}</p>
          <div id="row" class="col-md-12 col-md-offset-1">
          {% for status in status_list %}    
               {% if reservation.res_status_sales == status.status_code %}
                 
                    <!-- no form needed, this already is the current status -->
                    <p class="col-md-1">
                       <button type="submit" class="btn btn-primary" style="width:90px;font-size:12px;" data-toggle="tooltip" title="{{ status.description }}">{{status.description_short}}</button>
                    </p>        
                
               {% else %}
                    <form action="" method="POST" name="form3"> {% csrf_token %}
                      <p class="col-md-1">                        
                         <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                         <input type="hidden" name="res_status_sales" value="{{status.status_code}}">
                         <button type="submit" class="btn btn-default" style="width:90px;font-size:12px;" data-toggle="tooltip" title="{{ status.description }}">{{status.description_short}}</button>
                      </p>        
                    </form>
                    
             {% endif %}
          {% endfor %}
          </div>
               </div><!--end .accordion-section-content-->
         </div><!--end .accordion-section-->
    </div><!--end .accordion-->
   {% endif %}
    {% endblock %}     <!-- end page content -->

