{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}     <!-- show page content --->


 {% if user.is_authenticated %}
 
 <!-- show notification if it's set -->
     {% if notification != False %}
    <script>
      var n = noty({text: '{{notification}}'});
    </script>
    {% endif %}
 <!-- end notification -->   
<div id="row" class="col-md-9">
     {% if userprofile.res_updated == 'busy' or userprofile.loc_updated == 'busy' %}
    <h4>Please wait while loading!</h4>
    
    {% elif no_res == True %}
    <h4>There are no reservations to process, enjoy your day!</h4>
    </div><div class="col-md-1"><a href="/add_lead"><button class="btn btn-primary btn-lg">Add lead</button></a></div>
        
    {% else %}
         
     {% if active_res == True %}
     <h4>Now editing #{{reservation.res_id}} <a href="/?no_active_res=yes"<button class="btn btn-danger">Cancel</button></a></h4>
     {% elif critical %}
     <h4>{{critical}} 'Critical' reservations to go</h4>
     <i>Showing all reservations over 20 people, that need your immediate attention</i><hr>
     {% elif important %}
     <h4>{{important}} 'Important' reservations to go</h4>
     <i>Showing all non-critical reservations that need your attention</i><hr>
     {% else %}
     <h4>{{res_open}} reservations to go!</h4>
     <i>Showing all reservations that you really shouldn't forget about</i><hr>
     {%endif%}
     </div><div class="col-md-1"><a href="/add_lead"><button class="btn btn-primary btn-lg">Add lead</button></a></div>
     
     <div id="row" class="col-md-12 col-md-offset-2" >
          <p class="col-md-12"><h4>{{reservation.res_desc}}</h4>
          {{reservation.res_company}} / {{reservation.res_user}}
          </p>
          {% for status in status_list %}    
               {% if reservation.res_status_sales == status.status_code %}
                                
               <p class="col-md-1">
               <button id="opener{{status.status_code}}" type="submit" class="btn btn-primary"  style="width:90px;font-size:12px;" data-toggle="tooltip" title="{{status.description}}">{{status.description_short}}</button>
               <div id="dialog{{status.status_code}}" title="Add a note">
                    <form action="/status_change" method="POST">{% csrf_token %}
                    <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                    <input type="hidden" name="res_prev_status" value="{{reservation.res_status_sales}}">
                    <input type="hidden" name="res_last_change_by" value="{{request.user.first_name}} {{request.user.last_name}}">
                    <input type="hidden" name="res_status_sales" value="{{status.status_code}}">
                    
                    <p><textarea name="change_note" placeholder="I've spoken to Jim Jones, he is quite grumpy! He really doesn't want the big room, just the small one." rows="10" cols="80">{% if res_intro != None %}{{res_intro}} {% endif %}</textarea></p>
                    
                    <input type="submit" class="btn btn-primary"></input>
                    </form>
               </div>
               <script>
               $( "#dialog{{status.status_code}}" ).dialog({ autoOpen: false,modal: true, width: 550 });
               $( "#opener{{status.status_code}}" ).click(function() {
               $( "#dialog{{status.status_code}}" ).dialog( "open" );
                
               });
               </script>
               </p>
                    
               {% elif status.status_code == '8' or status.status_code == '9'  or status.status_code == '10'%}
               <!-- show nothing -->
               {% else %}
               <p class="col-md-1">
               <button id="opener{{status.status_code}}" type="submit" class="btn btn-default"  style="width:90px;font-size:12px;" data-toggle="tooltip" title="{{status.description}}">{{status.description_short}}</button>
               <div id="dialog{{status.status_code}}" title="Add a note">
                    <form action="/status_change" method="POST">{% csrf_token %}
                    <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                    <input type="hidden" name="res_prev_status" value="{{reservation.res_status_sales}}">
                    <input type="hidden" name="res_last_change_by" value="{{request.user.first_name}} {{request.user.last_name}}">
                    <input type="hidden" name="res_status_sales" value="{{status.status_code}}">
                    
                    <p><textarea name="change_note" placeholder="I've spoken to Jim Jones, he is quite grumpy! He really doesn't want the big room, just the small one." rows="10" cols="80">{% if res_intro != None %}{{res_intro}} {% endif %}</textarea></p>
                    
                    <input type="submit" class="btn btn-primary"></input>
                    </form>
               </div>
               <script>
               $( "#dialog{{status.status_code}}" ).dialog({ autoOpen: false,modal: true, width: 550 });
               $( "#opener{{status.status_code}}" ).click(function() {
               $( "#dialog{{status.status_code}}" ).dialog( "open" );
                
              });
              </script>
               </p>
               
             
             {% endif %}
          {% endfor %}
     
     
     
     
     
     </div>
     </div>
     
     <div id="row" class="col-md-12 col-md-offset-2">     
     <!-- if manual, show note here -->
     {% if reservation.res_manual_added == 'yes' %}
     <p style="font-size:12px;"><strong>This reservation was added manually</strong></p>
     {% endif %}
     <!-- show last status log -->
     {% for change in status_changes %}
          {% if change.change_note|length > 0 %}
    
     <p class="small_text"><strong>{{change.user_name}}</strong> - {{change.change_note}} - <strong>{{change.change_date}}</strong></p>
          {% endif %}
     {% endfor %}

          <!-- add a little note button -->
          <button id="opener-note" type="submit" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Add a note">Add note</button>
          <div id="dialog-note" title="Add a note">
               <form action="/status_change" method="POST">{% csrf_token %}
               <input type="hidden" name="res_id" value="{{reservation.res_id}}">
               <input type="hidden" name="res_prev_status" value="{{reservation.res_status_sales}}">
               <input type="hidden" name="res_last_change_by" value="{{request.user.first_name}} {{request.user.last_name}}">
               <input type="hidden" name="res_status_sales" value="{{reservation.res_status_sales}}">
               
               <p><textarea name="change_note" placeholder="I've spoken to Jim Jones, he is quite grumpy! He really doesn't want the big room, just the small one." rows="10" cols="80">{% if res_intro != None %}{{res_intro}} {% endif %}</textarea></p>
               
               <input type="submit" class="btn btn-primary"></input>
               </form>
          </div>
          <script>
          $( "#dialog-note" ).dialog({ autoOpen: false,modal: true, width: 550 });
          $( "#opener-note" ).click(function() {
          $( "#dialog-note" ).dialog( "open" );
           
          });
          </script>
     </div>

      <!-- show reservation info -->
     <div id="row" class="col-md-12" style="margin-top:20px;">
          
     <table style="width:100%;">
          <tr>
               <td style="width:50%;padding-right:50px;">
                    <!-- Show next action-->
                    <h2 style="color:red;">1. Do right now: {{short_sales_tip}}</h2><p>{{sales_tip}}</p>
                    <table class="table">
                         
                         <tr>
                              {% if reservation.res_manual_added == 'no' %}
                              <td><a href="https://www.seats2meet.com/locations/{{reservation.res_location_id}}/saleskit/manage/reservation/{{reservation.res_id}}" target="_blank">Go to reservation in Seats2meet.com: {{ reservation.res_id }}
                              </td>
                              {% else %}
                              <td>Lead was added manually, no s2m reservation to view</td>
                              {% endif %}
                              <td>
                         <p>
                                   First created by:
                                   {% if reservation_s2m_revisions %}     
                                   {{reservation_s2m_revisions.0.ProfileFullName}}
                                   {%endif%}
                              </p>
                                   {% if reservation.res_last_change_by != None %}
                                   Last change by: {{reservation.res_last_change_by}}
                                   {% else %}
                                   Last change by: Nobody has contacted this customer
                                   {% endif %}
                              </td>
                         </tr>
                         <tr>
                              <td>Date:</td><td> {{reservation.res_date|date:'Y-m-d'}} - Meeting is in <b>{{days_to_res}} </b>days</td>
                         </tr> 
                         <tr><td>Company/Customer:</td><td>{{reservation.res_company}} / {{reservation.res_user}}</td></tr>
                         <tr><td>Seats/Revenue:</td><td> {{reservation.res_total_seats}}pax / {% autoescape off %}
                         {{reservation_s2m.CurrencySymbol}} {{reservation_s2m.TotalExcl|floatformat:"2"}}
                         {% endautoescape %}</td></tr>
                         <tr><td>S2M status:</td><td> {{reservation.get_res_status_display}}</td></tr>
                         
                         
                    </table>
               {% if reservation_s2m.Comments %}     
                    <div class="accordion">
                         <div class="accordion-section">
                              <a class="accordion-section-title" href="#accordion-comments">
                                   Seats2meet.com Comments ({{reservation_s2m.Comments|length}})
                              </a>
                              <div id="accordion-comments" class="accordion-section-content">
                                   {%for item in reservation_s2m.Comments%}
                                        <p class="small_text">
                                             <strong>{{item.ProfileName}}</strong>: {{item.CommentText}}
                                        </p>
                                   {%endfor%}
                              </div><!--end .accordion-section-content-->
                         </div><!--end .accordion-section-->
                    </div><!--end .accordion-->
               {%endif%}
               

               
               </td>
               
               <td style="width:20%;margin: 0 auto;">
                 <!-- show actions for reservation -->
                    <p>
                         <a href="/show?r={{reservation.res_id}}&u={{userprofile.user_key}}" target="_blank" data-toggle="tooltip" title="Send your customer a great offer, using this page."><button type="submit" class="btn btn-default" style="width:200px;">Show offer</button></a>
                    </p>
                    {% if reservation.res_manual_added == 'yes' %}
                    <p>
                         <form action="/status_change" method="POST">{% csrf_token %}
                              <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                              <input type="hidden" name="res_prev_status" value="{{reservation.res_status_sales}}">
                              <input type="hidden" name="res_last_change_by" value="{{request.user.first_name}} {{request.user.last_name}}">
                              <input type="hidden" name="res_status_sales" value="8">
                              <input type="hidden" name="change_note" value="Lead to reservation">
                              <button type="submit" class="btn btn-success" style="width:200px;" data-toggle="tooltip" title="This lead turned into a reservation!">Lead > Reservation</button>
                         </form>
                    </p>
                    {% endif %}
                    
                    {% if location_profile_list|length > 1 %}
                    <p>
                         {% if reservation.res_assigned != 'no' %}
                         <button id="opener" type="submit" class="btn btn-success" style="width:200px;" data-toggle="tooltip" title="I am handling this reservation">{% if reservation.res_assigned == user.username %}Assigned to you, change{% else %} Assigned to a colleague {% endif %}</button>
                         {% else %}
                         <button id="opener" type="submit" class="btn btn-default" style="width:200px;" data-toggle="tooltip" title="One of my colleagues will handle this reservation">Assign reservation</button>
                         {% endif %}
                         <div id="dialog" title="Assign reservation">
                              <p>Assigned to {% if reservation.res_assigned == 'no' %}Nobody {% else %}{{reservation.res_assigned}}{%endif%}</p>
                              Assign to:
                              <form action="" method="POST">{% csrf_token %}
                              <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                                   <select name="assign_to">
                                             <option value="no">Nobody</option>
                                        {% for profile in location_profile_list %}
                                             <option value={{profile.user_name}}>{{profile.user_name}}</option>
                                        {% endfor %}
                                   </select>
                              
                              <br /><br />
                                   <a href=""><button type="submit" class="btn btn-primary">Assign</button></a>
                              </form>
                         </div>
                         <script>
                         $( "#dialog" ).dialog({ autoOpen: false,modal: true });
                         $( "#opener" ).click(function() {
                         $( "#dialog" ).dialog( "open" );
                          
                        });
                        </script>
                    </p>
                    {% endif %}
                    <p>
                         <button id="opener-remind" type="submit" class="btn btn-primary" style="width:200px;" data-toggle="tooltip" title="One of my colleagues will handle this reservation">Remind me later</button>
                         <div id="dialog-remind" title="Remind me in:">
                              <p><form action="/?noty=hour" method="POST">{% csrf_token %}
                                   <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                                   <input type="hidden" name="user_name" value="{{request.user.username}}">
                                   <input type="hidden" name="hide_days" value="today">
                                   <button type="submit" class="btn btn-primary" style="width:200px;" data-toggle="tooltip1" title="Show me this reservation again 1 hour from now">1 hour</button>
                              </form></p>
                              <p><form action="/?noty=day" method="POST">{% csrf_token %}
                                   <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                                   <input type="hidden" name="user_name" value="{{request.user.username}}">
                                   <input type="hidden" name="hide_days" value="tomorrow">
                                   <button type="submit" class="btn btn-primary" style="width:200px;">1 day</button>
                              </form></p>
                              <p><form action="/?noty=week" method="POST">{% csrf_token %}
                                   <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                                   <input type="hidden" name="user_name" value="{{request.user.username}}">
                                   <input type="hidden" name="hide_days" value="week">
                                   <button type="submit" class="btn btn-primary" style="width:200px;">1 week</button>
                              </form></p>
                              <p><form action="/?noty=month" method="POST">{% csrf_token %}
                                   <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                                   <input type="hidden" name="user_name" value="{{request.user.username}}">
                                   <input type="hidden" name="hide_days" value="month">
                                   <button type="submit" class="btn btn-primary" style="width:200px;">1 month</button>
                              </form></p>

                              <p>
                              <h4>Or select date</h4>
                              <form action="/?noty=selected" method="POST">{% csrf_token %}
                                   <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                                   <input type="hidden" name="user_name" value="{{request.user.username}}">
                                   <input type="hidden" name="method" value="datepicker">
                                   <p><input type="text" name="hide_days" id="datepicker"></p>
                                   <button type="submit" class="btn btn-primary">Save</button>  
                              </form></p>
                         </div>
                         <script>
                         $( "#dialog-remind" ).dialog({ autoOpen: false,modal: true });
                         $( "#opener-remind" ).click(function() {
                         $( "#dialog-remind" ).dialog( "open" );
                          
                        });
                        </script>
                    </p>
                    <p>
                         <form action="/status_change" method="POST">{% csrf_token %}
                              <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                              <input type="hidden" name="res_prev_status" value="{{reservation.res_status_sales}}">
                              <input type="hidden" name="res_last_change_by" value="{{request.user.first_name}} {{request.user.last_name}}">
                              <input type="hidden" name="res_status_sales" value="10">
                              <input type="hidden" name="change_note" value="Removed">
                              <button type="submit" class="btn btn-danger" style="width:200px;" data-toggle="tooltip" title="Delete this reservation from the saleskit (not from s2m)!">Remove lead</button>
                         </form>
                    </p>

               </td>
          </tr>
     </table>       
     </div>          
               
               
               
        
   {% endif %}
   {% endif %}
    {% endblock %}     <!-- end page content -->
    
    

