{% extends "invoice_base.html" %}
{% load staticfiles %}
    {% block content %}     <!-- show page content --->

       
        
{% for reference in invoice.InvoiceReferences%}
<table id="confirmationEmailFormat" cellpadding="0" cellspacing="0" border="0" width="610">
		<tr>
			<td>
				<img src="https://www.seats2meet.com/Content/Templates/s2m/images/mail/printHeader.gif" border="0" width="620" /></td>
		</tr>
		<tr>
			<td>

				
				<h3 class="subHeaderItem">
					Invoice: {{invoice.Code}}
					
				</h3>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top" width="105" nowrap="nowrap">Created on</td>
						<td valign="top" nowrap>{{activation_date}}</td>
					</tr>
					<tr>
						<td valign="top">Expires on</td>
						<td valign="top" nowrap>{{expiration_date}}</td>
					</tr>
					<tr>
						<td valign="top" colspan="2">&nbsp;</td>
					</tr>
				</table>
				

				<table cellpadding="4" cellspacing="4" border="1" style="border-collapse: collapse; background-color: #F4F4F4; border-color: #CECECE;" width="610">
					<tr>
						<td>
							<table cellpadding="1" cellspacing="0" border="0" width="610">
								<tr>
									<td colspan="4">
										<strong>Location details</strong>
									</td>
								</tr>
								<tr>
									<td width="50">
										<img width="14" height="14" border="0" src="https://www.seats2meet.com/content/images/home.png" />
									</td>
									<td width="248">{{reference.LocationName}} </td>
									<td width="50">
										<img width="14" height="14" border="0" src="https://www.seats2meet.com/content/images/phone.png" /></td>
									<td width="248">{{location.PhoneNumber}}</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>{{location.Address}}</td>
									<td>&nbsp;</td>
									<td><a href="mailto:{{location.Email}}">{{location.Email}}</a></td>
								</tr>
								<tr>
									<td>
										<img width="14" height="14" border="0" src="https://www.seats2meet.com/content/images/email.png" /></td>
									<td>{{location.Zipcode}} {{location.City}}</td>
									<td><strong>C.o.C.</strong></td>
									<td>{{location.CocNumber}} - {{location.CocName}}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<table cellpadding="0" cellspacing="0" border="0" width="610">
					<tr>
						<td valign="top" colspan="3">&nbsp;</td>
					</tr>
					<tr>
						<td nowrap valign="top" width="300">
							<table cellpadding="0" cellspacing="0" border="0" width="300">
								<tr>
									<td width="300"><strong>Adres</strong></td>
								</tr>
								<tr>
									<td valign="top" nowrap>{{invoice.CompanyName}}</td>
								</tr>
								<tr>
									<td valign="top" nowrap>{{reference.ReservationName}}</td>
								</tr>
								<tr>
									<td valign="top" nowrap>{{invoice.PoNumber}}</td>
								</tr>
								<tr>
									<td valign="top" nowrap>{{invoice.Address}}</td>
								</tr>
								<tr>
									<td valign="top" nowrap>{{invoice.PostalCode}} {{invoice.City}}</td>
								</tr>
								<tr>
									<td height="25"></td>
								</tr>
							</table>
						</td>
						<td nowrap width="10">&nbsp;</td>
						<td nowrap valign="top" width="300">
							<table cellpadding="0" cellspacing="0" border="0" width="300">
								<tr>
									<td colspan="2"><strong>Details</strong></td>
								</tr>
								
										<tr>
											<td valign="top" width="105" nowrap="nowrap">Booking no.</td>
											<td valign="top">{{reference.ReservationId}}</td>
										</tr>
										<tr>
											<td valign="top" nowrap="nowrap">Reference</td>
											<td valign="top">{{reference.LocationName}}</td>
										</tr>
										<tr>
											<td valign="top">&nbsp;</td>
											<td valign="top">{{reservation_date}}</td>
										</tr>
										<tr>
											<td valign="top">&nbsp;</td>
											<td valign="top">{{invoice.PoNumber}}</td>
										</tr>
										<tr>
											<td valign="top">Booker</td>
											<td valign="top">{{reference.BookerName}}</td>
										</tr>
									
								<tr>
									<td valign="top">Debtor no.</td>
									<td valign="top">{{invoice.DebtorId}}</td>
								</tr>
								<tr>
									<td height="25" colspan="2"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0" width="610">
					<thead>
						<tr>
							<td width="80"><strong>Amount</strong></td>
							<td width="240"><strong>Description</strong></td>
							<td width="95" align="right"><strong>Item price</strong></td>
							
							<td width="90" align="right"><strong>VAT</strong></td>
							
							<td width="105" align="right"><strong>Total</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5" height="5"></td>
						</tr>

        {% for item in invoice.InvoiceLines %}
        {% if  item.IsTextRow == True %}
        <tr>
            <td class="invoiceLineNumberCell"><span class="invoiceLineNumber"></span></td>
            <td class="invoiceLineTextCell"><span class="invoiceLineText">{{item.Text|safe}}</span></td>
            <td class="invoiceLinePricePerItemCell"><span class="invoiceLinePricePerItem"></span></td>
            
            <td class="invoiceLineTaxCell"><span class="invoiceLineTax"></span></td>
            
            <td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal"></span></td>
        </tr>   

        {%endif%}
        {% if  item.IsTextRow == False and item.TextGroupId == 1 %}
        <tr>
            <td class="invoiceLineNumberCell"><span class="invoiceLineNumber">{{item.Amount}}x</span></td>
            <td class="invoiceLineTextCell"><span class="invoiceLineText">{{item.Text|safe}}</span></td>
            <td class="invoiceLinePricePerItemCell"><span class="invoiceLinePricePerItem">{{item.CurrencySymbol|safe}}{{item.PricePerItem|floatformat:2}}</span></td>
            
            <td class="invoiceLineTaxCell"><span class="invoiceLineTax">{{item.TaxPercentage|floatformat:0}}%</span></td>
            
            <td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal">{{item.CurrencySymbol|safe}}{{item.TotalPriceExcludingTax|floatformat:2}}</span></td>
        </tr> 

        {%endif%}
        {% endfor %}	

							
						<tr>
							<td colspan="5">
								<hr />
							</td>
						</tr>
						<tr>
							<td colspan="4">Subtotal</td>
							<td align="right" width="105">{{invoice.CurrencySymbol|safe}}{{first_sub|floatformat:2}}</td>
						</tr>
						<tr>
							<td colspan="5">
								<hr />
							</td>
						</tr>
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>

			
        {% for item in invoice.InvoiceLines %}
        {% if  item.IsTextRow == False and item.TextGroupId == 2 %}
        <tr>
            <td class="invoiceLineNumberCell"><span class="invoiceLineNumber">{{item.Amount}}x</span></td>
            <td class="invoiceLineTextCell"><span class="invoiceLineText">{{item.Text|safe}}</span></td>
            <td class="invoiceLinePricePerItemCell"><span class="invoiceLinePricePerItem">{{item.CurrencySymbol|safe}}{{item.PricePerItem|floatformat:2}}</span></td>
            
            <td class="invoiceLineTaxCell"><span class="invoiceLineTax">{{item.TaxPercentage|floatformat:0}}%</span></td>
            
            <td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal">{{item.CurrencySymbol|safe}}{{item.TotalPriceExcludingTax|floatformat:2}}</span></td>
        </tr> 

		{%endif%}
        {% endfor %}

							
						<tr>
							<td colspan="5">
								<hr />
							</td>
						</tr>
						<tr>
							<td colspan="4">Subtotal</td>
							<td align="right" width="105">{{invoice.CurrencySymbol|safe}}{{second_sub|floatformat:2}}</td>
						</tr>
						<tr>
							<td colspan="5">
								<hr />
							</td>
						</tr>
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>


						<tr>
							<td colspan="4">
								Total excl. VAT
								
							</td>
							<td align="right" width="105">{{invoice.CurrencySymbol|safe}}{{invoice.TotalExcludingTax|floatformat:2}}</td>
						</tr>

		{% for item in invoice.InvoiceLines %}
        {% if  item.IsTextRow == False and item.TextGroupId == 5 and item.TaxId = 3 %}
								<tr>
									<td class="invoiceLineNumberCell" colspan="4">
										Accountable for 6.00% VAT 
									</td>

									<td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal">{{invoice.CurrencySymbol|safe}}{{item.TotalPriceExcludingTax|floatformat:2}}</span></td>
								</tr>
		{%endif%}
        {% endfor %}					
						
								<tr>
									<td class="invoiceLineNumberCell" colspan="4">
										Total VAT 6.00%
									</td>

									<td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal">{{invoice.CurrencySymbol|safe}}{{sixperc|floatformat:2}}</span></td>
								</tr>
		{% for item in invoice.InvoiceLines %}
        {% if  item.IsTextRow == False and item.TextGroupId == 5 and item.TaxId = 6 %}
								<tr>
									<td class="invoiceLineNumberCell" colspan="4">
										Accountable for 21.00% VAT 
									</td>

									<td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal">{{invoice.CurrencySymbol|safe}}{{item.TotalPriceExcludingTax|floatformat:2}}</span></td>
								</tr>
		{%endif%}
        {% endfor %}					
						
								<tr>
									<td class="invoiceLineNumberCell" colspan="4">
										Total VAT 6.00%
									</td>

									<td class="invoiceLinePriceTotalCell"><span class="invoiceLinePriceTotal">{{invoice.CurrencySymbol|safe}}{{twentyoneperc|floatformat:2}}</span></td>
								</tr>
							
						<tr>
							<td colspan="5">
								<hr />
							</td>
						</tr>
						<tr>
							<td colspan="4">Total incl. VAT</td>
							<td align="right" width="105">{{invoice.CurrencySymbol|safe}}{{invoice.TotalIncludingTax}}</td>
						</tr>



			
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>
						<tr>
							<td colspan="5">&nbsp;
							</td>
						</tr>
						<tr>
							<td colspan="5">{{footer|safe}}</td>
						</tr>
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
	</table>    

    {% endfor %}
    {% endblock %}     <!-- end page content -->