{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
     <h4>Filters</h4>
     <div class="row">

     {% for filter in filter_list %}
          {% if filter.filter_status == 0 %}
               <div class="col-md-1">
                    
                    <form action="" method="POST" name="form1">{% csrf_token %}
                         <input type="hidden" name="filter_name" value="{{filter.filter_name}}">
                         <input type="hidden" name="filter_status" value="1">
                         <button type="submit" class="btn btn-danger btn-xs" style="width:90px;font-size:12px;" data-toggle="tooltip" title="hidden: {{ filter.filter_desc }}">{{filter.filter_short}}</button>
                    </form>
               </div>
          {% else %}
               <div class="col-md-1">
                    <form action="" method="POST" name="form2">{% csrf_token %}
                         <input type="hidden" name="filter_name" value="{{filter.filter_name}}">
                         <input type="hidden" name="filter_status" value="0">
                         <button type="submit" class="btn btn-success btn-xs" style="width:90px;font-size:12px;" data-toggle="tooltip" title="shown: {{ filter.filter_desc }}">{{filter.filter_short}}</button>
                    </form>
               </div>
          {% endif %}     
     {% endfor %}
     </div>
     <h4>Results - {{list_size}} items</h4>
     <div class="accordion">
         {% for reservation in res_list %}
         {% if reservation.res_id == updated_item.res_id %}
         <div class="accordion-section">
               <a class="accordion-section-title active" href="#accordion-{{reservation.res_id}}">
                    #{{reservation.res_id}} -
                    {{reservation.res_date|date:'Y-m-d'}} -
                    {{reservation.res_user}} -
                    {{reservation.res_company}} -
                    {{reservation.res_total_seats}}pax -
                    {{reservation.get_res_status_sales_display}} -
                    {{reservation.get_res_status_display}}
               </a>
               <div id="accordion-{{reservation.res_id}}" class="accordion-section-content open" style="display: block;">
          {% else %}
          <div class="accordion-section">
               <a class="accordion-section-title" href="#accordion-{{reservation.res_id}}">
                    #{{reservation.res_id}} -
                    {{reservation.res_date|date:'Y-m-d'}} -
                    {{reservation.res_user}} -
                    {{reservation.res_company}} -
                    {{reservation.res_total_seats}}pax -
                    {{reservation.get_res_status_sales_display}} -
                    {{reservation.get_res_status_display}}
               </a>
               <div id="accordion-{{reservation.res_id}}" class="accordion-section-content">
          {% endif %}
                    <p><a href="https://www.seats2meet.com/locations/{{reservation.res_location_id}}/saleskit/manage/reservation/{{reservation.res_id}}" target="_blank">{{ reservation.res_id }}</a> - {{ reservation.res_user }} - {{ reservation.get_res_status_sales_display }}</p>
          {% for status in status_list %}    

               {% if reservation.res_status_sales == status.status_code %}
                 
                    <!-- no form needed, this already is the current status -->
                    <p class="col-md-1">
                       <button type="submit" class="btn btn-primary" style="width:90px;font-size:12px;" data-toggle="tooltip" title="{{ status.description }}">{{status.description_short}}</button>
                    </p>        
                 
               {% else %}
                    <form action="" method="POST" name="form3"> {% csrf_token %}
                      <p class="col-md-1">
                         <input type="hidden" name="res_id" value="{{reservation.res_id}}">
                         <input type="hidden" name="res_status_sales" value="{{status.status_code}}">
                         <button type="submit" class="btn btn-default" style="width:90px;font-size:12px;" data-toggle="tooltip" title="{{ status.description }}">{{status.description_short}}</button>
                      </p>        
                    </form>
                    
             {% endif %}

          {% endfor %}
               </div><!--end .accordion-section-content-->
         </div><!--end .accordion-section-->
        {% endfor %}
    </div><!--end .accordion-->
   
    {% endblock %}
