{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
     {% if user.is_authenticated %}
          <h4>Loginlog</h4>
          {% for login in loginlog %}
          <p>{{login.login_date}} - {{login.user_name}}</p>
          {% endfor %}
          
          <h4>Invoice reminder log</h4>
          {% for reminder in invoicelog %}
          <p>{{reminder.date_updated}} - Status: {{reminder.invoice_status}}</p>
          {% endfor %}
          
          <h4>Hourly Refreshlog</h4>
          {% for refresh in refreshlog %}
          <p>{{refresh.log_date}} - {{refresh.status}}</p>
          {% endfor %}
          
          <h4>Daily Remindlog</h4>
          {% for remind in remindlog %}
          <p>{{remind.log_date}} - {{remind.status}}</p>
          {% endfor %}
        
    {% endif %}
    
   
    {% endblock %}
