{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
     {% if user.is_authenticated %}
          <h4>Loginlog</h4>
          {% for login in loginlog %}
          <p>{{login.user_name}} - {{login.login_date}}</p>
          {% endfor %}
          
          <h4>Invoice reminder log</h4>
          {% for reminder in invoicelog %}
          <p>Status: {{reminder.invoice_status}} - {{reminder.date_updated}}</p>
          {% endfor %}
          
          <h4>Hourly Refreshlog</h4>
          {% for refresh in refreshlog %}
          <p>Last refresh: {{refresh.status}}</p>
          {% endfor %}
        
    {% endif %}
    
   
    {% endblock %}
