     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if user.is_authenticated %}

          {% if userprofile.res_updated != 'busy' and userprofile.loc_updated != 'busy' %}
          <a class="navbar-brand" href="/">Sales kit</a>
          <a class="navbar-brand" href="/listall">List</a>
          <!-- <a class="navbar-brand" href="/listall">Show list</a> -->
          <a class="navbar-brand" href="/help" target="_blank">Help</a>
        </div>

      <div id="navbar" class="navbar-collapse collapse">

          <form method="post" action="/logout" class="navbar-form navbar-right">{% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="logout" value="yes" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Logout</button>
          </form>
          <a href="/?refresh=yes" class="navbar-form navbar-right"><button class="btn btn-primary">Refresh</button></a>
         
          {% if locationlist|length > 1 %}
          <a href="/?loc_change=yes" class="navbar-form navbar-right"><button class="btn btn-primary">Switch location</button></a>

          {% endif %}
           {% endif %}

          {% else %}
          <form method="post" action="login" class="navbar-form navbar-right">{% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="login" value="yes">
              <input type="text" placeholder="S2M Email" name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="pass" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          
        {% endif %}
        
        </div><!--/.navbar-collapse -->
          </p>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
        {% if userprofile.res_updated == 'busy' or userprofile.loc_updated == 'busy' %}

        <div class="loading" name="loading" style="background-color: #ff7d7d;">
          <h2>This is your first run, or you've just clicked 'update'!</h2>
          <p>We are updating your reservations, this may take a minute or two. If you don't feel like waiting, feel free to close this window and come back later.</p>
          <p>this message will show until we have loaded and updated all of your reservations. </p>
           <meta http-equiv="refresh" content="2; URL=/">
        </div>
 
        {% endif %}

    </nav>
     


