{% extends "show_base.html" %}
{% load staticfiles %}

     
    {% block content %}     <!-- show page content --->
    
    {% if request.session.lang == "nl" %} <!-- if lang is dutch -->
            {% autoescape off %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="s2m_block1" style='background-image: url("https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{reservation.LocationImage}}");'>
      <div class="part_overlay">
        <p class="pdf"><a href="http://pdfmyurl.com/api?license=vTgy23O3vDoO&url=http://saleskit.meetberlage.com/show?r={{reservation.Id}}&u={{profile.Key}}" target="_blank"><button class="btn btn-primary">Download PDF</button></a></p>
        <p></p><p><h1 class="white">JE ONTMOET ELKAAR BIJ SEATS2MEET.COM</h1></p>
        <div class="widget">Beste {{reservation.ProfileName|capfirst}},
        <p>Wat fijn dat je aan {{reservation.LocationName}} denkt voor je meeting of event: {{reservation.ReservationName}}.</p>
      <p><p>{% if intro_text != None %}{{intro_text}} {% endif %}</p></p>
      <p></p><p>We bieden een dynamische omgeving waar je kunt werken en ontmoeten, met een diverse keuze aan ruimtes. Hiernaast bieden we de mogelijkheid om onze coworking space kosteloos te gebruiken. De kans op onverwachtte relevante ontmoetingen is hier groot, wat een geweldige bijdrage kan leveren aan je meeting of event.</p>
      <p></p><p>Hieronder vind je ons aanbod voor de bijeenkomst op {{startdate}}. Het voorstel is gebaseerd op {{reservation.TotalSeats}} personen, en zal je de ruimtes, opties en verdere setup voor je bijeenkomst toelichten. Dit aanbod is geldig t/m: {{offer_duration}}
      <div class="col-md-2"><img style="max-width: 100px; margin-top:10px;" src="https://d3817ykd1rv0p7.cloudfront.net/{{profile.Image}}"></div>
      <p>Met vriendelijke groet,</p>
      <p>{{profile.FirstName|capfirst}} {{profile.LastName|capfirst}}</p>
      <p><a href="mailto:{{profile.Email}}">{{profile.Email}}</a></p>
      <p>{{reservation.LocationName}}</p>
      </div>
        </div>
    </div>

    <div class="s2m_block2 30perc col-md-4">
      <!-- Example row of columns -->
      <h4>Reservering details</h4>
      <hr>
      <p>{{reservation.ReservationName|capfirst}}</p>
      <p>{{reservation.CompanyName|capfirst}} - {{reservation.ProfileName|capfirst}}</p>
      <p>Een totaal van {{reservation.TotalSeats}} deelnemers</p>
      <p>Van: {{startdate}} - {{starttime}}</p>
      <p>Tot: {{enddate}} - {{endtime}}</p>
    </div>
    <div class="s2m_block2 30perc light col-md-4">
      <h4>Opties</h4>
      <hr>
      {% for Option in reservation.Options %}
          <p>{{ Option.Amount }} x {{ Option.OptionName|capfirst }}: {{ Option.CurrencySymbol }}{{ Option.PriceTotalExclTax|floatformat:2}}
                   
          <p></p>
      {% endfor %} 
    </div>

        <div class="s2m_block2 30perc dark col-md-4">
          <h4>Tarieven</h4>
          <hr>
          <table><tr>
          <td><p>Totaal excl. BTW &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{reservation.TotalExcl|floatformat:2}}</strong></p></td>
          {% for item in reservation.TaxTotals %}
          </tr><tr>
          <td><p>Totaal BTW {{item.Percentage}}% &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{item.Total|floatformat:2}}</strong></p></td>
          {% endfor %}
          </tr><tr>
          <tr><td><hr></td></tr>
          <td><p>Totaal incl. BTW &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{reservation.TotalIncl|floatformat:2}}</strong></p></td>
          {% if reservation.TotalSeats != 0 %}
          </tr><tr>
          <td><p>Totaal bedrag per persoon &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{price_per_person|floatformat:2}}</strong></p></td>
          {% endif %}
          
          </tr></table>
                    
            </div>
        <div class="s2m_block2 higher 70perc light col-md-8">
          <h4>Gereserveerde ruimtes</h4>
          <hr>
      <table><tr>         
      {% for Unit in reservation.Units %}
      {% if forloop.counter = 3 or forloop.counter = 5 or forloop.counter = 7 or forloop.counter = 9 or forloop.counter = 11 or forloop.counter = 13  or forloop.counter = 15 or forloop.counter = 17 %}
      </tr><tr>
      {% endif %}
          <td class="tdstyle">{% for meetingspace in meetingspaces %}
              {% if meetingspace.Id == Unit.UnitId %}
              <a href="javascript:void(0)" onclick="document.getElementById('{{ Unit.UnitName }}').style.display='block';document.getElementById('fade').style.display='block'">
                <div class="meetingspace_images" style='background-image: url("https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{meetingspace.Image}}");'>
                <div class='part_overlay_small'><h4>{{ Unit.UnitName|capfirst }}</h4></div>
                </div></a>
              <div id="{{ Unit.UnitName }}" class="white_content">
                <a href="javascript:void(0)" onclick="document.getElementById('{{ Unit.UnitName }}').style.display='none';document.getElementById('fade').style.display='none'" class="textright">
                <img src="https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{meetingspace.Image}}" style="width:100%;">
                </a>
              </div>
              <div id="fade" class="black_overlay"></div>
              </a>
              <p>Opstelling: {{ Unit.SettingName|capfirst }} - Price: {{ Unit.CurrencySymbol }}{{ Unit.PriceTotalExclTax|floatformat:2 }}</p>
                  {% if Unit.Seats != 0 %}
                  <p>Een totaal van {{ Unit.Seats }} deelnemers</p>
                  {% endif %}
              {% endif %}
          {% endfor %}
          </td>
      {% endfor %}
                    
      </tr></table>
    </div>
   
        
    <div class="s2m_block2 30perc col-md-4">
      <!-- Example row of columns -->
      <h4>Locatie details</h4>
      <hr>

      <p>{{reservation.LocationName|capfirst}}</p>
      <p>{{location.Address}} - {{location.Zipcode}}</p>
      <p>{{location.City}}</p>
      <p>{{location.PhoneNumber}}</p>
      <a href="mailto:{{location.Email}}"><p>{{location.Email}}</p></a>
      <p>{{location.City}}</p>
      <p>Beoordeling: {{location.ReviewScore|floatformat:0}} van 100 door {{location.ReviewCount|floatformat:0}} personen</p>
      <a href="http://{{location.Url}}" target="_blank">
        <button class="btn btn-primary">Bekijk locatie</button></a>
      <a href="https://www.google.com/maps/place/{{location.Address}}+{{location.Zipcode}}+{{location.City}}" target="_blank">
        <button class="btn btn-primary">Route</button>
      </a>
      
    </div>
        <div class="s2m_block2 30perc col-md-4">
      <!-- Example row of columns -->
      <h4>Seats2meet</h4>
      <hr>

      <p>Wij zijn onderdeel van Seats2meet. Ontdek hier meer over 60+ vergader, cowork en event locaties in meer dan 7 landen!</p>
      <p><a href="http://www.seats2meet.com" target="_blank"><button class="btn btn-primary">Seats2meet.com</button></a></p>
      <p>Haal meer uit je bijeenkomst. We hebben een lijst van tips & tricks voorbereid die je helpen je meeting of evenement naar een volgend niveau te brengen.</p>
      <p><a href="http://betervergaderen.meetberlage.com/" target="_blank"><button class="btn btn-primary">Beter Vergaderen</button></a></p>
    </div>

{% endautoescape %}
     
     
     
     
     
     
     {% else %} <!-- Any other language -->
         {% autoescape off %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="s2m_block1" style='background-image: url("https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{reservation.LocationImage}}");'>
      <div class="part_overlay">
        <p class="pdf"><a href="http://pdfmyurl.com/api?license=vTgy23O3vDoO&url=http://saleskit.meetberlage.com/show?r={{reservation.Id}}&u={{profile.Key}}" target="_blank"><button class="btn btn-primary">Download PDF</button></a></p>
        <p></p><p><h1 class="white">YOU MEET EACH OTHER AT SEATS2MEET.COM</h1></p>
        <div class="widget">Dear {{reservation.ProfileName|capfirst}},
        <p>We are so happy you have reached out to {{reservation.LocationName}} regarding your event: {{reservation.ReservationName}}.</p>
      <p><p>{% if intro_text != None %}{{intro_text}} {% endif %}</p></p>
      <p></p><p>We offer a dynamic environment to work and meet, in a diverse range of spaces. Beside this, we offer you the opportunity to use our coworking spaces free of charge. This might just lead to a great unexpected encounter that will bring your meeting or event to the next level.</p>
      <p></p><p>Below, you'll find our offer for your event at {{startdate}}. The proposal is based on {{reservation.TotalSeats}} persons, and will show you the rooms and settings we have in mind for your event. This offer is valid until: {{offer_duration}}
      <div class="col-md-2"><img style="max-width: 100px; margin-top:10px;" src="https://d3817ykd1rv0p7.cloudfront.net/{{profile.Image}}"></div>
      <p>Kind regards,</p>
      <p>{{profile.FirstName|capfirst}} {{profile.LastName|capfirst}}</p>
      <p><a href="mailto:{{profile.Email}}">{{profile.Email}}</a></p>
      <p>{{reservation.LocationName}}</p>
      </div>
        </div>
    </div>
    

    <div class="s2m_block2 30perc col-md-4">
      <!-- Example row of columns -->
      <h4>Your reservation details</h4>
      <hr>

      <p>{{reservation.ReservationName|capfirst}}</p>
      <p>{{reservation.CompanyName|capfirst}} - {{reservation.ProfileName|capfirst}}</p>
      
      <p>A total of {{reservation.TotalSeats}} persons</p>
      <p>From: {{startdate}} - {{starttime}}</p>
      <p>To: {{enddate}} - {{endtime}}</p>
      
    </div>
    <div class="s2m_block2 30perc light col-md-4">
      <h4>Options</h4>
      <hr>
      {% for Option in reservation.Options %}
          <p>{{ Option.Amount }} x {{ Option.OptionName|capfirst }}: {{ Option.CurrencySymbol }}{{ Option.PriceTotalExclTax|floatformat:2}}
                   
          <p></p>
      {% endfor %} 
    </div>


        <div class="s2m_block2 30perc dark col-md-4">
          <h4>Pricing totals</h4>
          <hr>
          <table><tr>
          <td><p>Total amount excl. VAT &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{reservation.TotalExcl|floatformat:2}}</strong></p></td>
          {% for item in reservation.TaxTotals %}
          </tr><tr>
          <td><p>Total VAT {{item.Percentage}}% &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{item.Total|floatformat:2}}</strong></p></td>
          {% endfor %}
          </tr><tr>
          <tr><td><hr></td></tr>
          <td><p>Total amount incl. VAT &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{reservation.TotalIncl|floatformat:2}}</strong></p></td>
          {% if reservation.TotalSeats != 0 %}
          </tr><tr>
          <td><p>Total amount per person &nbsp;&nbsp;</p></td>
          <td><p><strong> {{ reservation.CurrencySymbol }}{{price_per_person|floatformat:2}}</strong></p></td>
          {% endif %}
          
          </tr></table>
                    
            </div>
        <div class="s2m_block2 higher 70perc light col-md-8">
          <h4>Reserved spaces</h4>
          <hr>
      <table><tr>         
      {% for Unit in reservation.Units %}
      {% if forloop.counter = 3 or forloop.counter = 5 or forloop.counter = 7 or forloop.counter = 9 or forloop.counter = 11 or forloop.counter = 13  or forloop.counter = 15 or forloop.counter = 17 %}
      </tr><tr>
      {% endif %}
          <td class="tdstyle">{% for meetingspace in meetingspaces %}
              {% if meetingspace.Id == Unit.UnitId %}
              <a href="javascript:void(0)" onclick="document.getElementById('{{ Unit.UnitName }}').style.display='block';document.getElementById('fade').style.display='block'">
                <div class="meetingspace_images" style='background-image: url("https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{meetingspace.Image}}");'>
                <div class='part_overlay_small'><h4>{{ Unit.UnitName|capfirst }}</h4></div>
                </div></a>
              <div id="{{ Unit.UnitName }}" class="white_content">
                <a href="javascript:void(0)" onclick="document.getElementById('{{ Unit.UnitName }}').style.display='none';document.getElementById('fade').style.display='none'" class="textright">
                <img src="https://az691754.vo.msecnd.net/website/{{reservation.LocationId}}/{{meetingspace.Image}}" style="width:100%;">
                </a>
              </div>
              <div id="fade" class="black_overlay"></div>
              </a>
              <p>Setup: {{ Unit.SettingName|capfirst }} - Price: {{ Unit.CurrencySymbol }}{{ Unit.PriceTotalExclTax|floatformat:2 }}</p>
                  {% if Unit.Seats != 0 %}
                  <p>A total of {{ Unit.Seats }} persons</p>
                  {% endif %}
              {% endif %}
          {% endfor %}
          </td>
      {% endfor %}
                    
      </tr></table>
    </div>
        
        
        
    <div class="s2m_block2 30perc col-md-4">
      <!-- Example row of columns -->
      <h4>Location Details</h4>
      <hr>

      <p>{{reservation.LocationName|capfirst}}</p>
      <p>{{location.Address}} - {{location.Zipcode}}</p>
      <p>{{location.City}}</p>
      <p>{{location.PhoneNumber}}</p>
      <a href="mailto:{{location.Email}}"><p>{{location.Email}}</p></a>
      <p>{{location.City}}</p>
      <p>Rated: {{location.ReviewScore|floatformat:0}} out of 100 by {{location.ReviewCount|floatformat:0}} people</p>
      <a href="http://{{location.Url}}" target="_blank">
        <button class="btn btn-primary">Check out location</button></a>
      <a href="https://www.google.com/maps/place/{{location.Address}}+{{location.Zipcode}}+{{location.City}}" target="_blank">
        <button class="btn btn-primary">Directions</button>
      </a>
      
    </div>
    
    
        <div class="s2m_block2 30perc col-md-4">
      <!-- Example row of columns -->
      <h4>Seats2meet</h4>
      <hr>

      <p>We are not alone. Find out about over 60 other meeting, cowork and event locations in over 7 countries right here!</p>
      <p><a href="http://www.seats2meet.com" target="_blank"><button class="btn btn-primary">Seats2meet.com</button></a></p>
      <p>Get more out of your meeting. We have prepared a list of tips & tricks to improve any meeting or event. Dive right in!</p>
      <p><a href="http://betervergaderen.meetberlage.com/eng" target="_blank"><button class="btn btn-primary">Better Meetings</button></a></p>

      
    </div>
    
              
        
{% endautoescape %}   
     {% endif %}
     
     
     
     

    {% endblock %}     <!-- end page content -->